@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

body {
      $boxsize: 60px;
      header {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            table {
                  margin: 20px;
                  border-collapse: separate;
                  border-spacing: 10px;
                  tr {
                        td {
                              width: $boxsize;
                              height: $boxsize;
                              border: 1px solid gray;
                              box-shadow: 3px 3px 3px gray;
                              border-radius: 5px;

                              background-size: cover;
                              background-position: center;
                              background-repeat: no-repeat;
                        }
                  }
            }
      }

      main {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            section {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 400px;
                  height: 400px;

                  img {
                        width: auto;
                        height: 270px;
                        margin-bottom: 100px;
                  }

                  #actions {
                        background-color: #ccc;
                        overflow-y: scroll;
                        border-radius: 5px;
                        padding: 20px;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        margin-bottom: 100px;

                        p#what {
                              font-size: 120%;
                              margin: 10px auto;
                              font-style: italic;
                        }
                  }
            }

      }

      button {
            padding: 8px 16px;
            width: max-content;
            border-radius: 5px;
      }
      
}