@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

body {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      header {
            h1 {
                  margin: 30px 0;
            }
      }

      main {
            #board {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  flex-wrap: wrap;
      
                  .cards {
                        h3 {
                              display: none;
                        }

                        margin: 10px;
                        padding: 10px;
                        cursor: pointer;
      
                        width: 170px;
                        height: 250px;
      
                        border: 2px solid black;
                        border-radius: 10px;

                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: url("../img/back.jpg");

                        transform: rotateY(180deg);
                        transition: all 1.5s;
                  }

                  .returned {
                        transform: rotateY(0);
                  }
            }
      }
      
}