body {
      width: 100%;
      height: 100vh;
      overflow: hidden;
}

.cards {
      width: 200px;
      height: 250px;
      background-color: #CCC;
}

main {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}
main section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
}

main section#top .cards {
      transform: rotate(90DEG);
}

main section#mid {
      justify-content: center;
}

main section#mid div {
      margin: 0 50px;
}

main section#bot .cards {
      transform: rotate(90DEG);
}

.highlight {
      opacity: 0.5;
}